[Unit]
Description=Vaultline Secret Store (%i)
After=network.target

[Service]
Type=simple
User=%i
ExecStart=/usr/local/bin/vaultline daemon --store-dir /home/%i/.local/share/vaultline/stores/default --seal-file /home/%i/.config/vaultline/seal --config-file /home/%i/.config/vaultline/stores.json --daemon-config-file /home/%i/.config/vaultline/daemon.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
